body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  nav {
    width: 220px;
    background: linear-gradient(#a30000, #300707);
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    display: block;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  nav a:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  header {
    padding: 20px;
    color: #ffffff;
    background: linear-gradient(#43434a, #333338);
    border-radius: 30px;
  }
  
  main {
    flex: 1;
    padding: 30px;
    background: #252529;
    color: #ffffff;
  }
  
  footer {
    text-align: center;
    padding: 15px;
  }
  
  h1 {
    text-align: center;
    font-family: Tangerine;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  p {
    font-size: clamp(20px, 20vw, 20px);
  }
  
  ol {
    color: #ffffff;
  }

  